*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:  'Montserrat', sans-serif;
}
body{
    background-color: #65929C;
}
header{
    display: grid;
    grid-template-columns: 45% 55%;
}
.logo img{
    width: 60px;
    height: 50px;
    padding-top: 10px;
    margin-left: 10px;
}
.logo span{
    font-size: 42px;
    color: white;
    font-family: 'Italiana', serif;
}
ul,ol{
    list-style: none;
}
.nav li{
    border-left: 2px solid black;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.nav > li{
    float: left;
}
.nav > li a{
    background-color:#65929C ;
    color: black;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    width: 150px;
    height: 50px;
    font-size: 18px;
    
}
.nav li a:hover{
    background-color: #95CBD7;
}
.nav li ul{
    display: none;
    position:absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
    box-shadow: none;
}
.nav li ul{
    right: -10px;
    top: 50px;
}
.principal{
    display: grid;
    grid-template-columns: 60% 40%;
}
.principal .principal-imagenes{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 200px;
}
.principal .disco{
    width: 600px;
    height: 475px;
}
.principal .reproductor{
    width: 500px;
    height: 200px;
    position: relative;
    bottom: 70px;
}
.principal .principal-registro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
}
.principal .principal-registro button{
    width: 250px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #D3D2E4;
    border: none;
    font-family:'Montserrat', sans-serif;
}
.principal .principal-registro button:hover{
    background-color:#EAEAF6 ;
    cursor: pointer;
}
.principal .principal-registro p{
    font-size: 30px;
    width: 500px;
    text-align: center;
}